<!-- Content -->
    <div class="main-content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-title">
                            <span>About Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section-header text-center">
                            <h3 class="header-title">Company Profile</h3>
							<div class="line"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 about-desc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctus est interdum pretium. Fusce id tortor fringilla, suscipit turpis ac, varius ex. Cras vel metus ligula. Nam enim ligula, bibendum a iaculis ut, cursus id augue. Proin vitae purus id tortor vehicula scelerisque non in libero.</p>
						<p>Nulla non turpis sit amet purus pharetra sollicitudin. Proin rutrum urna ut suscipit ullamcorper. Proin sapien felis, dignissim non finibus eget, luctus vel purus. Pellentesque efficitur congue orci ornare accumsan. Nullam ultrices libero vel imperdiet scelerisque. Donec vel mauris eros.</p>
                    </div>
                </div>
                <div class="about-content">
                    <div class="text-center">
                        <img src="assets/img/1140x547.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="our-mission">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="about-det">
                                    <h4>Our Mission</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctus est interdum pretium. Fusce id tortor fringilla.</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="about-det">
                                    <h4>Our Vission</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctus est interdum pretium. Fusce id tortor fringilla.</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="about-det">
                                    <h4>Our Plan</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctus est interdum pretium. Fusce id tortor fringilla.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section testimonials">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section-header text-center">
                            <h3 class="header-title">Testimonials</h3>
							<div class="line"></div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim. Aenean vitae metus in augue pretium ultrices. Duis dictum eget dolor vel blandit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="testimonial_slider" class="owl-carousel text-center">
                            <div class="item">
                                <div class="testimonial-list">
									<div class="testimonial-img">
										<img class="img-responsive" src="assets/img/150x150.jpg" alt="" width="150" height="150">
									</div>
									<div class="testimonial-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
									</div>
									<div class="testimonial-author">
										<h3 class="testi-user">- Jennifer Robinson</h3>
										<span>Leland, USA</span>
									</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-list">
									<div class="testimonial-img">
										<img class="img-responsive" src="assets/img/150x150.jpg" alt="" width="150" height="150">
									</div>
									<div class="testimonial-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
									</div>
									<div class="testimonial-author">
										<h3 class="testi-user">- Denise Stevens</h3>
										<span>Abington, USA</span>
									</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-list">
									<div class="testimonial-img">
										<img class="img-responsive" src="assets/img/150x150.jpg" alt="" width="150" height="150">
									</div>
									<div class="testimonial-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
									</div>
									<div class="testimonial-author">
										<h3 class="testi-user">- Charles Ortega</h3>
										<span>El Paso, USA</span>
									</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-list">
									<div class="testimonial-img">
										<img class="img-responsive" src="assets/img/150x150.jpg" alt="" width="150" height="150">
									</div>
									<div class="testimonial-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
									</div>
									<div class="testimonial-author">
										<h3 class="testi-user">- Kyle Bowman</h3>
										<span>Vero Beach, USA</span>
									</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-list">
									<div class="testimonial-img">
										<img class="img-responsive" src="assets/img/150x150.jpg" alt="" width="150" height="150">
									</div>
									<div class="testimonial-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
									</div>
									<div class="testimonial-author">
										<h3 class="testi-user">- Linda Carpenter</h3>
										<span>Tallahassee, USA</span>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
