<div class="main-content">
        <section class="section home-banner row-middle">
            <div class="inner-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-9">
                        <div class="banner-content">
                            <h1>Clean Medical Template</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                            <a title="Consult" class="btn btn-primary consult-btn" href="appointment.html">Consult</a>
                        </div>
                    </div>
                </div>
                <div class="row">

                    </div>
            </div>
        </section>



    </div>
