<% provide :page_title, t(".title") %>
<div class="main main-raised">
  <div class="section section-basic custom-background">
    <div class="container">
        <div class="flat-projects">
          <ul class="projects-filter style1 margin60">
          </ul>
          <div class="projects-items book_items">
          </div>
          <div class="col-sm-6 offset-sm-4">
          </div>
        </div>
    </div>
  </div>
</div>
