<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h4 class="page-title">Chỉnh sửa triệu chứng</h4>
                    </div>
                </div>
<%= render 'form', desease: @desease %>
  </div>
            </div>
