<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Triệu chứng</h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="<%= new_doctor_desease_path %>" class="btn btn-primary float-right btn-rounded"><i class="fa fa-plus"></i> Thêm mới triệu chứng</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
						<div class="table-responsive">
                            <table id="example" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th style="width:10%;">STT</th>
                                        <th style="width:30%;">Loại thú</th>
                                        <th>Tên</th>
                                        <th>Triệu chứng</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%= render @deseases %>
                                </tbody>
                            </table>
						</div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script>
		$(document).ready(function() {
    $('#example').DataTable({
responsive: true
    });
} );
	</script>
