<%= link_to image_tag(current_user.gravatar_url), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize current_user.blogs.count, "blog" %></span>
