<div class="main-content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-title">
                            <span>Departments</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="content departments">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section-header text-center">
                            <h3 class="header-title">Dept Summary Details</h3>
							<div class="line"></div>
                        </div>
                    </div>
                </div>
                <div class="row department-row">
                    <div class="col-sm-4">
                        <div class="dept-box">
                            <div class="dept-img">
                            </div>
                            <h4><a href="department-details.html">Dentists</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="dept-box">
                            <div class="dept-img">
                            </div>
                            <h4><a href="department-details.html">Neurology</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="dept-box">
                            <div class="dept-img">
                            </div>
                            <h4><a href="department-details.html">Opthalmology</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="dept-box">
                            <div class="dept-img">
                            </div>
                            <h4><a href="department-details.html">Orthopedics</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="dept-box">
                            <div class="dept-img">
                            </div>
                            <h4><a href="department-details.html">Cancer Department</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="dept-box">
                            <div class="dept-img">
                            </div>
                            <h4><a href="department-details.html">ENT Department</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="see-all m-t-0">
                            <a href="javascript:void(0);" class="btn btn-primary see-all-btn">Load More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section meet-doctors">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section-header text-center">
                            <h3 class="header-title">Meet our Doctors</h3>
							<div class="line"></div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim. Aenean vitae metus in augue pretium ultrices. Duis dictum eget dolor vel blandit.
                            </p>
                        </div>
                    </div>
                </div>
                <div id="our_doctor" class="owl-carousel text-center">
                    <div class="item">
                        <div class="doctor text-center">
                            <a href="doctor-details.html">
                                <div class="doctors-name">Dr. Albert Sandoval</div>
                                <div class="doctors-position">Neurologist</div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <a href="doctor-details.html">
                            <div class="doctor text-center">
                                <div class="doctors-name">Dr. Linda Barrett</div>
                                <div class="doctors-position">Dentist</div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <div class="doctor text-center">
                            <a href="doctor-details.html">
                                <div class="doctors-name">Dr. Cristina Groves</div>
                                <div class="doctors-position">Gynecologist</div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="doctor text-center">
                            <a href="doctor-details.html">
                                <div class="doctors-name">Dr. Henry Daniels</div>
                                <div class="doctors-position">Cardiologist</div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="doctor text-center">
                            <a href="doctor-details.html">
                                <div class="doctors-name">Dr. Diana Bailey</div>
                                <div class="doctors-position">General Surgery</div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="doctor text-center">
                            <a href="doctor-details.html">
                                <div class="doctors-name">Dr. Justin Parker</div>
                                <div class="doctors-position">Physical Therapist</div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="doctor text-center">
                            <a href="doctor-details.html">
                                <div class="doctors-name">Dr. Marie Wells</div>
                                <div class="doctors-position">Psychiatrist</div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="doctor text-center">
                            <a href="doctor-details.html">
                                <div class="doctors-name">Dr. Pamela Curtis</div>
                                <div class="doctors-position">Pediatrics</div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="doctor text-center">
                            <a href="doctor-details.html">
                                <div class="doctors-name">Dr. Ronald Jacobs</div>
                                <div class="doctors-position">Oncologist</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="see-all">
                            <a href="doctors.html" class="btn btn-primary see-all-btn">See all Doctors</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
