<div class="main-content">

  <!-- Page Header -->
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="page-title">
            <span>Chẩn đoán</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="content departments">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-header text-center">
            <h2>Hãy nhập triệu chứng</h2>
            <div class="line"></div>
            <div class="search-error">
                <div class=" col-sm-4 col-sm-offset-4">
              <%= search_form_for @q, url: search_path, class: "error-search-form" do |f| %>
                  <%= f.search_field :symptom_cont,
                                     placeholder: "Search...", id: "search-custom", style: "width: 100%;" %>
                  <%#= f.select :pet_type, type_choice, class: "form-control" %>
                  <button type="submit"><i class="fa fa-search"></i></button>
              <% end %>
						</div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script>

    $.getJSON("/search.json", function (data) {
        var availableTags = new Array();
        $.each(data.items, function (i, val) {
            availableTags.push(val.symptom);
        });

        $("#search-custom").autocomplete({
            source: availableTags
        });
    });
</script>
