<div class="modal fade" id="edit_event">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Chỉnh sửa</h4>
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <%= render 'form', event: @event %>
        <%= link_to "Xóa", director_event_path, method: :delete, class: "btn btn-danger"  %>
      </div>
    </div>
  </div>
</div>
<script>
    <%
      start_time =  @event.start_date.strftime('%d/%m/%Y %H:%M')
      end_time = @event.end_date.strftime('%d/%m/%Y %H:%M')
    %>
    $('#event_start_date').val("<%= start_time %>");
    $('#event_end_date').val("<%= end_time %>");
</script>
