<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Danh sách bác sĩ</h4>
                    </div>
                </div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-border table-striped custom-table m-b-0" id="example">
								<thead>
									<tr>
										<th>Tên</th>
										<th>Địa chỉ</th>
										<th>Email</th>
									</tr>
								</thead>
								<tbody>
                  <%= render @users %>
								</tbody>
							</table>
						</div>
					</div>
                </div>
            </div>
        </div>

<script>
		$(document).ready(function() {
    $('#example').DataTable({
		"language": {
			"oPaginate": {
            "sFirst":    "Trang đầu",
            "sLast":    "Trang cuối",
            "sNext":    "Trang kế",
            "sPrevious": "Trang trước"
        },
		"sSearch": "Tìm kiếm:",
		"sInfo": "Hiển thị _START_ đến _END_ của _TOTAL_ bản ghi",
		"sLengthMenu": "Hiển thị _MENU_ bản ghi"
		}
	});
} );
	</script>
