<div class="main-content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-title">
                            <span>Our Doctors</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section-header text-center">
                            <h3 class="header-title">Our Physician Lists</h3>
							<div class="line"></div>
                        </div>
                    </div>
                </div>
                <div class="row doctors-list">
                <% @doctors.each do |doctor| %>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                        <div class="doctor-list">
                            <div class="doctor-inner">
                                <%= image_tag doctor.avatar_url, alt: doctor.name, width: 400 %>
                                <div class="doctor-details">
                                    <div class="doctor-info">
                                        <h4 class="doctor-name"><a href="<%= user_path(doctor)%>">Dr. <%= doctor.name %></a></h4>
                                        <p><span class="depart">Physical Therapist</span></p>
                                    </div>
                                    <ul class="social-list">
                                        <li><a class="facebook" href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a class="twitter" href="#"><i class="fab fa-facebook"></i></a></li>
                                        <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                        <li><a class="g-plus" href="#"><i class="fab fa-google-plus"></i></a></li>
                                    </ul>
                                    <div class="view-profie">
                                        <a href="<%= user_path(doctor)%>">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
