<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1>Hồ sơ bệnh án</h1>
        <br><br>
        <%= render "form", medical_record: @medical_record, user: @user, pet: @pet, services: @services %>
      </div>
    </div>
  </div>
</div>
