<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-box m-b-0">
          <div class="row">
            <div class="col-md-12">
              <div id="calendar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id='remote_container'></div>
<script>
  // $('.datetimepicker').datetimepicker();
</script>