<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="calendar">

                    </div>

                </div>

            </div>

        </div>
<div id='remote_container'></div>
