/*
 *= require custom
 *= require font-awesome
 *= require owl.carousel
 *= require owl.theme.default.min
 *= require style
 *= require fullcalendar
 *= require scheduler
 *= require bootstrap-datetimepicker.min
 *= require jquery-ui/datepicker
 *= require_self
 */
.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}


.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}


.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}

.fc-resource-area {
  width: 20% !important;
}

.required {
  content:"*";
  color:red;
}

.fc-event1 {
    /*border-bottom: 5px solid #42bc00 !important;*/
    /*background: none !important;*/
    /*border: none;*/
    /*margin-top: -14px !important;*/
    height: 5px;
}

.fc-event2 {
    /*border-bottom: 5px solid #42bc00 !important;*/
    /*background: none !important;*/
    /*border: none;*/
    /*margin-top: -20px !important;*/
    top: 0px !important;
    z-index: 10;
    height: 5px;
}