$eae: #eaeaea;
$color-777: #777;
$color-555: #555;
$color-222: #222;
$tim: #9124a3;
$xanh-rbga: rgba(47, 120, 142, 0.52) 0%;
$tim-rbga: rgba(185, 46, 155, 0.45) 100%;
$white: white;
$black: black;
$green: green;
$red: red;
