@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'color';
 @import 'toastr';

.appointment:hover {
  color: white !important;
}

.list-user {
  position: fixed;
  right: 0;
  top: 71px;
  bottom: 0;
  margin-bottom: 0px;
  width: 210px;
}

.header {
  position: fixed !important;
  background: white;
  top: 0;
  width: 100%;
}

.blog-form{
  background: white;
  padding-bottom: 65px;
}

.blog_form {
  margin-top: 15px;
}

.create-blog{
  background: #f5f6f7;
    padding-left: 10px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 50%;
}

img{
  // width: 50%;
}

.feed-item{
       margin-left: 64px;
    /* background: white; */
    padding-bottom: 25px;
    margin-bottom: 10px;
    padding-left: 48px;
    margin-right: -15px;
}

.panel-default {
    border-color: #ddd;
    width: 18%;
    position: fixed;
    bottom: 0;
    z-index: 100;
    margin-bottom: 0;
    right: 333px;
}

.overflow {
  white-space: nowrap;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog{
  background: white;
      margin-left: -15px;
    margin-right: -15px;
}

#conversations-list {
  position: fixed;
    z-index: 5;
}
