<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Members</h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <%= link_to new_admin_user_path, class: "btn btn btn-primary btn-rounded float-right" do %>
                        <i class="fa fa-plus"></i> Add Member
                        <% end %>
                    </div>
                </div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-border table-striped custom-table datatable m-b-0" id="example">
								<thead>
									<tr>
										<th>Name</th>
										<th>Address</th>
										<th>Email</th>
										<th>Role</th>
										<th class="text-right">Action</th>
									</tr>
								</thead>
								<tbody>
                  <%= render @users %>
								</tbody>
							</table>
						</div>
					</div>
                </div>
            </div>
        </div>

<script>
		$(document).ready(function() {
    $('#example').DataTable();
} );
	</script>
