<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Danh sách người dùng</h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <%= link_to new_admin_user_path, class: "btn btn btn-primary btn-rounded float-right" do %>
                        <i class="fa fa-plus"></i> Thêm người dùng
                        <% end %>
                    </div>
                </div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table id="example" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>Tên</th>
										<th>Địa chỉ</th>
										<th>Email</th>
										<th>Vai trò</th>
										<th class="text-right">Hành động</th>
									</tr>
								</thead>
								<tbody>
                  <%= render @users %>
								</tbody>
							</table>
						</div>
					</div>
                </div>
            </div>
        </div>

<script>
		$(document).ready(function() {
    $('#example').DataTable({
		"language": {
			"oPaginate": {
            "sFirst":    "Trang đầu",
            "sLast":    "Trang cuối",
            "sNext":    "Trang kế",
            "sPrevious": "Trang trước"
        },
		"sSearch": "Tìm kiếm:",
		"sInfo": "Hiển thị _START_ đến _END_ của _TOTAL_ bản ghi",
		"sLengthMenu": "Hiển thị _MENU_ bản ghi"
		}
	});
} );
	</script>
