/*
 *= require admin/bootstrap.min
 *= require font-awesome
 *= require admin/fullcalendar.min
 *= require admin/dataTables.bootstrap4.min
 *= require admin/select2.min
 *= require admin/bootstrap-datetimepicker.min
 *= require admin/morris
 *= require admin/style
 *= require toastr
 *= require_tree .
 *= require_self
 */

.messages-list {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.message-sent {
    position: relative;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    margin: 5px 20px;
    padding: 10px;
    float: right;
    margin-left: auto;
}


.message-received {
    background-color: #F1F0F0;
    border-color: #EEEEEE;
    margin: 5px 20px;
    padding: 10px;
    float: left;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-body{
    padding: 15px;
}


ul {
    padding-left: 0px;
    list-style: none;
}
.panel-default {
    border-color: #ddd;
    width: 18%;
    position: fixed;
    bottom: 0;
    z-index: 10;
    margin-bottom: 0;
    right: 305px;
}

#conversations-list {
    position: fixed;
    z-index: 5;
}
