<!-- Footer -->
    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="footer-widget">
                            <h4 class="footer-title">Liên hệ</h4>
                            <div class="about-clinic">
                                <p><strong>Địa chỉ:</strong>
                                    <br> KTX Đại học FPT, Hòa Lạc,
                                    <br> Thạch Thất, Hà Nội</p>
                                <p class="m-b-0"><strong>Số điện thoại</strong>: <a href="tel:+84796677111">+84.79.6677.111</a>
                                    <br>
                                    <strong>Email</strong>: <a href="email:taylqmail@gmail.com">pet-care@gmail.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div class="footer-widget">
                            <h4 class="footer-title">Bản đồ</h4>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3724.4823754912877!2d105.5256851!3d21.0133765!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b32ca5086d%3A0xa3c62e29d8ab37e4!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBGUFQ!5e0!3m2!1svi!2s!4v1556029416126!5m2!1svi!2s" width="650" height="180" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <div class="sidebar-overlay" data-reff="#side_menu"></div>
