<footer class="footer" data-background-color="black">
  <div class="container">
    <nav class="float-left">
      <ul>
        <li>
            <%= link_to t(".about"), about_path %>
        </li>
        <li>
          <%= link_to t(".help"), help_path %>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      <p>&copy;<%= t "footer.footer" %></p>
    </div>
  </div>
</footer>
